.user-list {
    position: absolute;
    right: 0vw;
}

.user-list ul {
    list-style: none;
    max-height: 100vh;
    overflow: auto;
    width: 20vw;
}

.user-list ul li {
    border: 1px solid black;
    margin: 1px;
}

.user-list p {
    margin-right: 4vw;
}

canvas {
    position: absolute;
    left: 20vw;
}

.searched-user {
    color: red;
    font-weight: 500;
}

.other-users {
    color: green;
    font-weight: 100;
}

.survive {
    position: absolute;
    font-size: 2.5vw;
    top: 3vh;
    left: 1vw;
    border: 2px solid black;
    padding: 1vw;
}

.carepackage {
    position: absolute;
    top: 12vh;
    font-size: 0.8vw;
    left: -2.35vw;
}

.carepackage ul {
    list-style: none;
    max-height: 100vh;
    overflow: auto;
    width: 20vw;
}

.carepackage ul li {
    border: 1px solid black;
    margin: 1px;
}