.user-list {
    position: absolute;
    right: 5vw;
}

.user-list ul {
    list-style: none;
    max-height: 100vh;
    overflow: auto;
}

.user-list ul li {
    border: 1px solid black;
    margin: 1px;
}

.user-list p {
    margin-right: 4vw;
}

canvas {
    position: absolute;
    left: 20vw;
}